{% extends "layout-auth.html.twig" %}
{% trans_default_domain "newsletter" %}

{% block title %}
	{{ "newsletter.title"|trans }}
	-
	{{ parent() }}
{% endblock title %}

{% block stylesheets %}
	{{ encore_entry_link_tags("page_newsletter_pending") }}
{% endblock stylesheets %}

{% block image %}
	{{ asset("images/newsletter/logo-lithium.svg") }}
{% endblock image %}

{% block form_title %}
	{{"pending.title" | trans}}
{% endblock form_title %}


{% block body %}
	<p id="confirmation-message">
		{{"pending.text" | trans({"%email%": account.email|hideEmail}) | raw}}
	</p>
{% endblock body %}

{% block additional_info %}
	<p id="mail-sending-error">
		{{"pending.text.resend" | trans}}
		<a class="link-registration-custom-link" id="sendMailLink" href="{{ app.request.uri }}">
			{{"pending.text.resend.link.text" | trans}}
		</a>.
	</p>
{% endblock additional_info %}
