{% extends "layout.html.twig" %}

{% block title %}
    {{ article.title }}
{% endblock title %}

{% block stylesheets %}
    {{ encore_entry_link_tags("page:article") }}
    {{ encore_entry_link_tags("style:component:spinner") }}
    {{ encore_entry_link_tags("style:component:tag") }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags("page:article") }}
{% endblock javascripts %}

{% block body %}
    <article id="article-container">
        <div id="topic-container">
            <a id="topic" href="{{ url("app_topic", { slug: article.topic.slug }) }}">
                <i data-feather="tag" width="14px" height="14px" stroke-width="3px"></i>
                {{ article.topic.name }}
            </a>
        </div>

        <h1 id="article-title">
            {{ article.title }}
        </h1>

        <div id="info">
            <span id="date">{{ article.publishedAt|date("F j, Y") }}</span>
            <span class="dot">•</span>
            <span id="author">
                <i data-feather="user" width="16px" height="16px" stroke-width="2px"></i>by
                {{ article.author.username }}
            </span>
            <span class="dot">•</span>
            <span id="time-to-read">
                {{ article.content|timeToRead }}
                min to read
            </span>
        </div>

        <div id="thumbnail-container">
            <img src="{{ vich_uploader_asset(article, "thumbnailFile") }}" id="blured" />
            <img src="{{ vich_uploader_asset(article, "thumbnailFile") }}" id="thumbnail" />
        </div>

        <section id="content-wrapper">
            <nav id="toc-container">
                <h3 id="toc-title">
                    Table des matières<div id="spinner">
                        {{ component("spinner", { color: "#8a9399", borderWidth: "2px", size: "16px" }) }}
                    </div>
                </h3>
                <div id="toc"></div>
            </nav>
            <div id="content-container">
                {{ article.content|markdown|raw }}
            </div>

            <div id="tags">
                {% for tag in article.tags %}
                    {{ component("tag", { tag: tag }) }}
                {% endfor %}
            </div>

            {% if article.license %}
                <hr />

                <div id="license">
                    Cette œuvre est mise à disposition selon les termes de la licence
                    <a target="_blank" rel="license" id="license-image-link" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                        <img alt="Licence Creative Commons" width="80" height="15" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
                    </a>
                </div>
            {% endif %}
        </section>
    </article>
{% endblock body %}
