{% extends "layout.html.twig" %}

{% block title %}
    {{ article.title }}
{% endblock title %}

{% block stylesheets %}
    {{ encore_entry_link_tags("page:article") }}
    {{ encore_entry_link_tags("style:markdown") }}
    {{ encore_entry_link_tags("style:component:spinner") }}
    {{ encore_entry_link_tags("style:component:tag") }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags("page:article") }}
    {{ encore_entry_script_tags("style:markdown") }}
{% endblock javascripts %}

{% block body %}
    <article id="article-container">
        <div id="topic-container">
            <a id="topic" href="{{ url("app_topic", { slug: article.topic.slug }) }}">
                <i data-feather="tag" width="14px" height="14px" stroke-width="3px"></i>
                <span>{{ article.topic.name }}</span>
            </a>
        </div>

        <h1 id="article-title">
            {{ article.title }}
        </h1>

        <div id="info">
            <span id="date">{{ article.publishedAt|date("F j, Y") }}</span>
            <span class="dot">•</span>
            <span id="author">
                <i data-feather="user" width="16px" height="16px" stroke-width="2px"></i>
                {{ article.author.username }}
            </span>
            <span class="dot">•</span>
            <span id="time-to-read">
                {{ article.content|time_to_read }}
                {{ "article.info.time_to_read"|trans }}
            </span>
        </div>

        <div id="thumbnail-container">
            {# We use the same size in order to prevent the download of another image #}
            <img src="{{ image_url(article.thumbnail, 250, 100, { q: 10 }) }}" id="blured" />
            <img src="{{ image_url(article.thumbnail, 1000, 400) }}" id="thumbnail" />
        </div>

        <section id="content-wrapper">
            <nav id="toc-container">
                <h3 id="toc-title">
                    {{ "article.content.table_of_content"|trans }}

                    <div id="spinner">
                        {{ component("spinner", { color: "#8a9399", borderWidth: "2px", size: "16px" }) }}
                    </div>
                </h3>
                <div id="toc"></div>
            </nav>
            <div id="content-container" class="markdown-style">
                {{ article.content|markdown|raw }}
            </div>

            {% if (article.tags|length) > 0 %}
                <div id="tags">
                    {% for tag in article.tags %}
                        {{ component("tag", { tag: tag }) }}
                    {% endfor %}
                </div>
            {% endif %}

            {% if article.license %}
                <hr class="tag-license-separator" />

                <div id="license">
                    {{ "article.content.license"|trans }}
                    <a target="_blank" rel="license" id="license-image-link" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                        <img alt="Licence Creative Commons" width="80" height="15" src="{{ asset("images/licence.png") }}" />
                    </a>
                </div>
            {% endif %}
        </section>
    </article>
{% endblock body %}
