{% extends "layout.html.twig" %}

{% block title %}
    {{ article.title }}
{% endblock title %}

{% block stylesheets %}
    {{ encore_entry_link_tags("page:article") }}
    {{ encore_entry_link_tags("component:vue") }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags("page:article") }}
    {{ encore_entry_script_tags("component:vue") }}
{% endblock javascripts %}

{% block body %}
    <article id="article-container">
        <div id="topic-container">
            <a id="topic" href="{{ url("app_topic", { slug: article.topic.slug }) }}">
                <div {{ vue_component("FeatherIcon", { icon: "tag", size: "14px", strokeWidth: "3px" }) }}></div>
                {{ article.topic.name }}
            </a>
        </div>

        <h1 id="article-title">
            {{ article.title }}
        </h1>

        <div id="info">
            <span id="date">{{ article.publishedAt|date("F j, Y") }}</span>
            <span class="dot">•</span>
            <span id="author">
                <div {{ vue_component("FeatherIcon", { icon: "user", size: "16px", strokeWidth: "2px" }) }}></div>by
                {{ article.author.username }}
            </span>
            <span class="dot">•</span>
            <span id="time-to-read">
                {{ article.content|timeToRead }}
                min to read
            </span>
        </div>

        <div id="thumbnail-container">
            <img src="https://picsum.photos/1000/400" id="blured" />
            <img src="https://picsum.photos/1000/400" id="thumbnail" />
        </div>

        <section id="content-wrapper">
            <nav id="toc-container">
                <h3 id="toc-title">
                    Table des matières
                </h3>
                <div id="toc"></div>
            </nav>
            <div id="content-container">
                {{ article.content|markdown|raw }}
            </div>
        </section>
    </article>
{% endblock body %}
