{% extends "base.html.twig" %}

{% block title %}
    {{ classifier.name }}
{% endblock title %}

{% block stylesheets %}
    {{ encore_entry_link_tags("page:feed") }}
    {{ encore_entry_link_tags("component:vue") }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags("component:vue") }}
{% endblock javascripts %}

{% block body %}
    <section>
        <div {{ vue_component("FeatherIcon") }}></div>
    </section>

    <div {{ vue_component("TimelineWrapper", { selector: selector, id: classifier.id }) }}></div>
{% endblock body %}
