{% extends "layout.html.twig" %}

{% block title %}
    {{ classifier.name }}
{% endblock title %}

{% block stylesheets %}
    {{ encore_entry_link_tags("page:classifier") }}
    {{ encore_entry_link_tags("component:vue") }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags("component:vue") }}
{% endblock javascripts %}

{% block body %}
    <div id="breadcrumb-container" {{ vue_component("ClassifierBreadcrumb", { selector: classifier.type, classifierName: classifier.name }) }}></div>

    <div {{ vue_component("TimelineWrapper", { selector: classifier.type, id: classifier.id }) }}></div>
{% endblock body %}
