{% extends "base.html.twig" %}

{% block title %}
    {{ classifier.name }}
{% endblock title %}

{% block stylesheets %}
    {{ encore_entry_link_tags("page:feed") }}
    {{ encore_entry_link_tags("component:Timeline") }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags("component:Timeline") }}
{% endblock javascripts %}

{% block body %}
    <h1 id="title">
        Topic / {{ classifier.name }}
    </h1>

    <div {{ vue_component("TimelineWrapper", { selector: selector, id: classifier.id }) }}></div>
{% endblock body %}
