{% extends "layout.html.twig" %}

{% block title %}
    {{ classifier.name }} - {{ parent() }}
{% endblock title %}

{% block stylesheets %}
    {{ encore_entry_link_tags("page:classifier") }}
    {{ encore_entry_link_tags("component:vue") }}
    {{ encore_entry_link_tags("style:component:breadcrumb") }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags("component:vue") }}
{% endblock javascripts %}

{% block body %}
    {{ component("breadcrumb", { name: classifier.name, type: classifier.type }) }}

    <div {{ vue_component("TimelineWrapper", { selector: classifier.type, id: classifier.id }) }}></div>
{% endblock body %}
