{% extends "layout.html.twig" %}

{% set course = learningElement is instance_of('App\\Entity\\Course') ? learningElement : learningElement.course %}

{% block title %}
	{% if learningElement is instance_of('App\\Entity\\Course') %}
		{{ course.title }}
	{% else %}
		{{learningElement.title}}
		-
		{{course.title}}
	{% endif %}
{% endblock title %}

{% block stylesheets %}
	{{ encore_entry_link_tags("module_page_document") }}
	{{ encore_entry_link_tags("module_markdown") }}
	{{ encore_entry_link_tags("component_twig_spinner") }}
	{{ encore_entry_link_tags("component_twig_tag") }}
	{{ encore_entry_link_tags("partial_course_navigation") }}
	{{ encore_entry_link_tags("page_course") }}
{% endblock stylesheets %}

{% block javascripts %}
	{{ encore_entry_script_tags("module_page_document") }}
	{{ encore_entry_script_tags("module_markdown") }}
{% endblock javascripts %}

{% block og_type %}
	article
{% endblock og_type %}

{% block og_description %}
	{{ learningElement.description }}
{% endblock og_description %}

{% block og_keywords %}
	{{ course.tags|join(", ") }}
{% endblock og_keywords %}

{% block body %}
	<article id="document-container">
		<div id="topic-container">
			<a id="topic" href="{{ url("app_topic", { slug: course.topic.slug }) }}">
				<i data-feather="tag" class="icon"></i>
				<span>{{ course.topic.name }}</span>
			</a>
		</div>

		<h1 id="document-title">
			{{ learningElement.title }}
		</h1>

		<div id="info">
			<span id="date">{{ learningElement.publishedAt|date("F j, Y") }}</span>
			<span class="dot">•</span>
			<span id="author">
				<i data-feather="user" width="16px" height="16px" stroke-width="2px"></i>
				{{ course.author.username }}
			</span>
			<span class="dot">•</span>
			<span id="time-to-read">
				{{ learningElement.content|time_to_read }}
				{{ "document.info.time_to_read"|trans }}
			</span>
		</div>

		<div id="difficulty-container">
			<span id="difficulty" class="{{course.difficulty.value}}">{{("course.difficulty." ~ course.difficulty.value) | trans}}</span>
		</div>

		<section id="content-wrapper">
			<nav id="toc-container">
				<h3 id="toc-title">
					{{ "document.content.table_of_content"|trans }}

					<div id="spinner">
						{{ component("spinner", { color: "#8a9399", borderWidth: "2px", size: "16px" }) }}
					</div>
				</h3>
				<div id="toc"></div>
			</nav>


			<div id="content-container" class="markdown-style">
				{{ learningElement.content|markdown|raw }}
			</div>

			{% if (course.tags|length) > 0 %}
				<div id="tags">
					{% for tag in course.tags %}
						{{ component("tag", { tag: tag }) }}
					{% endfor %}
				</div>
			{% endif %}

			{% if course.license %}
				<div id="license">
					{{ "document.content.license"|trans }}
					<a target="_blank" rel="license" id="license-image-link" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
						<img alt="Licence Creative Commons" width="80" height="15" src="{{ asset("images/licence.png") }}"/>
					</a>
				</div>
			{% endif %}
		</section>

		<hr class="tag-license-separator"/>

		{% include 'partials/_course_navigation.html.twig' with {
            'learningElement': learningElement
        } %}

	</article>

{% endblock body %}
