{% extends "base.html.twig" %}

{% block title %}
    Feed
{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block body %}
    <h1 class="text-2xl">
        Activity log
    </h1>

    <timeline-wrapper>
        {% for post in posts %}
            {% if post|instanceOf("App\\Entity\\Publication") %}
                <timeline-thread type="{{ post.type }}">
                    <timeline-publication content="{{ post.preview }}" />
                </timeline-thread>
            {% else %}
                <timeline-thread type="{{ post.type }}">
                    <timeline-event date="{{ post.publishedAt|date }}" content="{{ post.preview }}"></timeline-event>
                </timeline-thread>
            {% endif %}
        {% endfor %}
    </timeline-wrapper>
{% endblock body %}

{% block javascripts %}
    {{ encore_entry_script_tags("component:TimelineWrapper") }}
    {{ encore_entry_script_tags("component:TimelinePublication") }}
    {{ encore_entry_script_tags("component:TimelineEvent") }}
    {{ encore_entry_script_tags("component:TimelineThread") }}
{% endblock javascripts %}
