{% extends "base.html.twig" %}

{% block title %}
    Feed
{% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}
    <h1 class="text-2xl">
        Activity log
    </h1>

    <current-time></current-time>
    <simple-greeting></simple-greeting>

    {# <time-line>
        toto
    </time-line>
    {% for post in posts %}
        {% if post|instanceOf("App\\Entity\\Article") %}
            <div>
                {{ post.description }}
            </div>
        {% elseif post|instanceOf("App\\Entity\\Moodline") %}
            <div>
                {{ post.content }}
            </div>
        {% endif %}
        <br />
    {% endfor %} #}
{% endblock body %}

{% block javascripts %}
    {{ encore_entry_script_tags("component:Timeline") }}
    {{ encore_entry_script_tags("component:SimpleGreeting") }}
    {{ encore_entry_script_tags("component:CurrentTime") }}
{% endblock javascripts %}
