{% extends "base.html.twig" %}

{% block title %}
    Feed
{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block javascripts %}
    {# {{ encore_entry_script_tags("component:Tag") }} #}
    {# {{ encore_entry_script_tags("component:TimeElapsed") }} #}
    {# {{ encore_entry_script_tags("component:TagContainer") }} #}

    {{ encore_entry_script_tags("component:TimelineWrapper") }}

    {# {{ encore_entry_script_tags("component:TimelineThread") }}
    {{ encore_entry_script_tags("component:TimelineEvent") }}
    {{ encore_entry_script_tags("component:TimelinePublication") }}

    {{ encore_entry_script_tags("component:TimelineThreadTitle") }}
    {{ encore_entry_script_tags("component:TimelineThreadContent") }} #}
{% endblock javascripts %}

{% block body %}
    <h1>
        Activity log
    </h1>

    <timeline-wrapper></timeline-wrapper>
{% endblock body %}
