{% extends "base.html.twig" %}

{% block title %}
    Feed
{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block body %}
    <h1 class="text-2xl">
        Activity log
    </h1>

    <timeline-wrapper>
        {% for post in posts %}
            {% if post|instanceOf("App\\Entity\\Article") %}
                <timeline-thread type="{{ post.type }}">
                    <timeline-article maintitle="{{ post.title }}" date="{{ post.publishedAtToISO8601 }}">
                        {% if post.tags is not empty %}
                            <tag-container slot="tags">
                                {% for tag in post.tags %}
                                    <x-tag name="{{ tag.name }}"></x-tag>
                                {% endfor %}
                            </tag-container>
                        {% endif %}
                        <timeline-thread-content slot="preview" lines="4">
                            {{ post.preview }}
                        </timeline-thread-content>
                    </timeline-article>
                </timeline-thread>
            {% elseif post|instanceOf("App\\Entity\\Moodline") %}
                <timeline-thread type="{{ post.type }}">
                    <timeline-moodline date="{{ post.publishedAtToISO8601 }}">
                        {% if post.tags is not empty %}
                            <tag-container slot="tags">
                                {% for tag in post.tags %}
                                    <x-tag name="{{ tag.name }}"></x-tag>
                                {% endfor %}
                            </tag-container>
                        {% endif %}
                        <timeline-thread-content slot="preview">
                            {{ post.preview }}
                        </timeline-thread-content>
                    </timeline-moodline>
                </timeline-thread>
            {% else %}
                <timeline-thread type="{{ post.type }}">
                    <timeline-event date="{{ post.publishedAtToISO8601 }}" content="{{ post.preview }}"></timeline-event>
                </timeline-thread>
            {% endif %}
        {% endfor %}
    </timeline-wrapper>
{% endblock body %}

{% block javascripts %}
    {{ encore_entry_script_tags("component:TimelineWrapper") }}
    {{ encore_entry_script_tags("component:TimelineArticle") }}
    {{ encore_entry_script_tags("component:TimelineMoodline") }}
    {{ encore_entry_script_tags("component:TimelineEvent") }}
    {{ encore_entry_script_tags("component:TimelineThread") }}
    {{ encore_entry_script_tags("component:Tag") }}
    {{ encore_entry_script_tags("component:TimeElapsed") }}
    {{ encore_entry_script_tags("component:TagContainer") }}
    {{ encore_entry_script_tags("component:TimelineThreadContent") }}
{% endblock javascripts %}
