{% extends "layout.html.twig" %}

{% block title %}
	{{ "feed.title"|trans }}
	-
	{{ parent() }}
{% endblock title %}

{% block stylesheets %}
	{{ encore_entry_link_tags("page_feed") }}
	{{ encore_entry_link_tags("plugin_vue") }}
{% endblock stylesheets %}

{% block javascripts %}
	{{ encore_entry_script_tags("plugin_vue") }}
{% endblock javascripts %}

{% block body %}
	<h1 id="title">
		{{ "feed.title"|trans }}
	</h1>

	<div {{ vue_component("TimelineWrapper") }}></div>
{% endblock body %}
