{% set lang = app.request.locale|split("_")[0] %}

<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta charset="UTF-8"/>
		<meta name="author" content="MrAnyx"/>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link type="text/plain" rel="author" href="{{ asset("humans.txt") }}"/>
		<meta name="language" content="{{ lang }}"/>
		<meta http-equiv="content-language" content="{{ lang }}"/>
		<meta name="copyright" content="https://needlify.com"/>
		<link href="https://needlify.com" rel="home"/>
		<meta name="theme-color" content="#ff6e03" media="(prefers-color-scheme: light)"/>
		<meta name="theme-color" content="#ff6e03" media="(prefers-color-scheme: dark)"/>
		<meta name="application-name" content="Needlify"/>
		<link rel="canonical" href="{{ absolute_url(app.request.pathInfo) }}"/>

		<meta name="keywords" content="{{ block("og_keywords") is defined ? block("og_keywords")|meta_format : "Technology, Blog, Needlify, Dev, Programming, Code" }}"/>

		{% if block("og_description") is defined and (block("og_description")|meta_format) != "" %}
			<meta name="description" content="{{ block("og_description")|meta_format }}"/>
			<meta property="og:description" content="{{ block("og_description")|meta_format }}"/>
		{% else %}
			<meta name="description" content="{{ "layout.meta.description"|trans({}, 'messages') }}"/>
			<meta property="og:description" content="{{ "layout.meta.description"|trans({}, 'messages') }}"/>
		{% endif %}

		<meta property="og:type" content="{{ block("og_type") is defined ? block("og_type")|meta_format : "website" }}"/>
		<meta property="og:title" content="{{ block("title") is defined ? block("title")|meta_format : "Needlify" }}"/>
		<meta name="twitter:title" content="{{ block("title") is defined ? block("title")|meta_format : "Needlify" }}"/>
		<meta property="og:url" content="{{ absolute_url(app.request.pathInfo) }}"/>
		<meta property="og:site_name" content="Needlify"/>

		{% if block("og_image") is defined %}
			<meta property="og:image" content="{{ absolute_url(block('og_image')|meta_format)|raw }}"/>
			<meta name="twitter:image:src" content="{{ absolute_url(block('og_image')|meta_format)|raw }}"/>
			<meta name="twitter:image" content="{{ absolute_url(block('og_image')|meta_format)|raw }}"/>
		{% else %}
			<meta property="og:image" content="{{ absolute_url(asset("/images/logo/og_image.png")) }}"/>
			<meta name="twitter:image:src" content="{{ absolute_url(asset("/images/logo/og_image.png")) }}"/>
			<meta name="twitter:image" content="{{ absolute_url(asset("/images/logo/og_image.png")) }}"/>
		{% endif %}

		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@MrAnyx"/>
		<meta name="twitter:creator" content="@MrAnyx"/>
		<meta name="twitter:widgets:new-embed-design" content="on"/>
		<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>

		<link rel="shortcut icon" href="{{ absolute_url(asset("/images/logo/favicon.ico")) }}" type="image/x-icon"/>

		<title>
			{% block title %}Needlify
			{% endblock title %}
		</title>

		{{ encore_entry_link_tags("style_reset") }}
		{{ encore_entry_link_tags("style_global") }}
		{{ encore_entry_link_tags("style_layout") }}
		{{ encore_entry_link_tags("style_header") }}
		{{ encore_entry_link_tags("style_footer") }}
		{{ encore_entry_link_tags("style_component_banner") }}

		{% block stylesheets %}{% endblock stylesheets %}

		{{ encore_entry_script_tags("file_layout") }}
		{{ encore_entry_script_tags("file_global") }}

		{% include "analytics/analytics.html.twig" %}

		{% block javascripts %}{% endblock javascripts %}
	</head>
	<body>
		<header id="header">
			<div id="header-container">
				<a href="{{ url("app_home") }}"><img src="{{ asset("images/logo/icon-64.png") }}" class="glitch" alt="Notice logo"/></a>
				<div id="header-links">
					{% if is_granted("IS_AUTHENTICATED_FULLY") or is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<a href="{{ url("admin_global") }}" class="primary">
							<i data-feather="grid" class="icon"></i>
							{{ "layout.header.dashboard"|trans }}
						</a>
						<a href="{{ url("auth_logout") }}" class="secondary">
							<i data-feather="log-out" class="icon"></i>
							{{ "layout.header.logout"|trans }}
						</a>
					{% else %}
						<a href="{{ url("auth_login") }}" class="secondary">
							<i data-feather="log-in" class="icon"></i>
							{{ "layout.header.login"|trans }}
						</a>
					{% endif %}
				</div>
			</div>
		</header>

		<main id="app">
			<div id="main-container" class="transition-fade">
				{% if banner.lastBanner %}
					{{ component("banner", { banner: banner.lastBanner }) }}
				{% endif %}

				{% block body %}{% endblock body %}
			</div>
		</main>

		<footer id="footer">
			<div id="links">
				<a href="{{ url("app_about") }}">{{ "layout.footer.about"|trans }}</a>
				<a href="{{ url("app_contact") }}">{{ "layout.footer.contact"|trans }}</a>
				<a href="{{ url("app_legal") }}">{{ "layout.footer.legal_texts"|trans }}</a>
				<a href="{{ url("app_newsletter_register") }}">{{ "layout.footer.newsletter"|trans }}</a>
			</div>
			<div id="social">
				<a href="https://www.instagram.com/rob.bch/" target="_blank">
					<i data-feather="instagram"></i>
				</a>
				<a href="https://twitter.com/MrAnyx" target="_blank">
					<i data-feather="twitter"></i>
				</a>
				<a href="https://github.com/Needlify" target="_blank">
					<i data-feather="github"></i>
				</a>
				<a href="https://www.linkedin.com/in/rob-bch/" target="_blank">
					<i data-feather="linkedin"></i>
				</a>
			</div>
			<div id="credit">
				© 2020 - Needlify.
				{{ "layout.footer.rights"|trans }}.
			</div>
		</footer>
	</body>
</html>
