{% set lang = app.request.locale|split('_')[0] %}

{% trans_default_domain "auth" %}

<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta charset="UTF-8"/>
		<meta name="author" content="MrAnyx"/>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link type="text/plain" rel="author" href="{{ asset("humans.txt") }}"/>
		<meta name="language" content="{{ lang }}"/>
		<meta http-equiv="content-language" content="{{ lang }}"/>
		<meta name="copyright" content="https://needlify.com"/>
		<link href="https://needlify.com" rel="home"/>
		<meta name="theme-color" content="#ff6e03" media="(prefers-color-scheme: light)"/>
		<meta name="theme-color" content="#ff6e03" media="(prefers-color-scheme: dark)"/>
		<meta name="application-name" content="Needlify"/>
		<link rel="canonical" href="{{ absolute_url(app.request.pathInfo) }}"/>

		<meta name="keywords" content="{{ block("og_keywords") is defined ? block("og_keywords")|meta_format : "Technology, Blog, Needlify, Dev, Programming, Code" }}"/>

		{% if block("og_description") is defined and (block("og_description")|meta_format) != "" %}
			<meta name="description" content="{{ block("og_description")|meta_format }}"/>
			<meta property="og:description" content="{{ block("og_description")|meta_format }}"/>
		{% else %}
			<meta name="description" content="{{ "layout.meta.description"|trans({}, 'messages') }}"/>
			<meta property="og:description" content="{{ "layout.meta.description"|trans({}, 'messages') }}"/>
		{% endif %}

		<meta property="og:type" content="{{ block("og_type") is defined ? block("og_type")|meta_format : "website" }}"/>
		<meta property="og:title" content="{{ block("title") is defined ? block("title")|meta_format : "Needlify" }}"/>
		<meta name="twitter:title" content="{{ block("title") is defined ? block("title")|meta_format : "Needlify" }}"/>
		<meta property="og:url" content="{{ absolute_url(app.request.pathInfo) }}"/>
		<meta property="og:site_name" content="Needlify"/>

		{% if block("og_image") is defined %}
			<meta property="og:image" content="{{ absolute_url(block('og_image')|meta_format)|raw }}"/>
			<meta name="twitter:image:src" content="{{ absolute_url(block('og_image')|meta_format)|raw }}"/>
			<meta name="twitter:image" content="{{ absolute_url(block('og_image')|meta_format)|raw }}"/>
		{% else %}
			<meta property="og:image" content="{{ absolute_url(asset("/images/logo/og_image.png")) }}"/>
			<meta name="twitter:image:src" content="{{ absolute_url(asset("/images/logo/og_image.png")) }}"/>
			<meta name="twitter:image" content="{{ absolute_url(asset("/images/logo/og_image.png")) }}"/>
		{% endif %}

		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@MrAnyx"/>
		<meta name="twitter:creator" content="@MrAnyx"/>
		<meta name="twitter:widgets:new-embed-design" content="on"/>
		<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>

		<link rel="shortcut icon" href="{{ absolute_url(asset("/images/logo/favicon.ico")) }}" type="image/x-icon"/>

		<title>
			{% block title %}
				Needlify
			{% endblock title %}
		</title>

		{{ encore_entry_link_tags("style_reset") }}
		{{ encore_entry_link_tags("style_global") }}
		{{ encore_entry_link_tags("style_layout-auth") }}
		{{ encore_entry_link_tags("component_vue") }}

		{% block stylesheets %}{% endblock stylesheets %}

		{{ encore_entry_script_tags("file_layout") }}
		{{ encore_entry_script_tags("component_vue") }}
		{{ encore_entry_script_tags("file_global") }}

		{% include "analytics/analytics.html.twig" %}

		{% block javascripts %}{% endblock javascripts %}

	</head>
	<body>

		<main id="layout">
			<div id="container">
				<div id="logo-link">
					<a href="{{url('app_home')}}">
						<img src="{% block image %}{{ asset('images/logo/logo.svg') }}{% endblock image %}" class="glitch" alt="Needlify logo">
					</a>
				</div>
				<div id="form-container">

					<h3 id="title"> {% block form_title %}{% endblock form_title %}
						</h3>
						<h5 id="subtitle"> {% block form_subtitle %}{% endblock form_subtitle %}
							</h5>

							{% for index, flash_error in app.flashes('error') %}
								{% if index == 0 %}
									<div {{vue_component('CustomAlert', {type: "error", message: "auth.error.message"|trans, description: flash_error} )}}></div>
								{% endif %}
							{% endfor %}

							{% block body %}{% endblock body %}
						</div>
						<div id="additional"> {% block additional_info %}{% endblock additional_info %}
							</div>
						</div>
					</main>

				</body>
			</html>
